*{
    padding: 0;
    margin: 0;
}

body {
    background-color:  hsl(212, 45%, 89%)
}

main {
  text-align: center;
}

.content {
    height: 350px;
    width: 230px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 10px;
    margin: 100px auto;
}

img {
    height: 60%;
    width: 100%;
}

p {
    margin: 1em 0.5em;
}

.bold {
    font-weight: bold;
}